<h3>Work History @ bmf GmbH</h3>
<div class="line"></div>
<p>
  German company providing e-commerce solutions and data services for medium-sized customers in the automotive sector.
  During my career I have held various positions which gave me a wide understanding about all aspects of complex web applications.
</p>
<div class="grid col_1_2">
  <h4 class="text-right">Frontend Development - UI/UX Design
    <span>February 2018 - Now</span>
  </h4>
  <ul>
    <li>Worked out new concepts to improve usability</li>
    <li>Created views with HTML, CSS, Javascript and KnockoutJS</li>
    <li>Increased front-end efficiency by code analysis and refactoring</li>
    <li>Participated in all stages of the product life cycle</li>
  </ul>
  <h4 class="text-right">Project Management
    <span>November 2017 - January 2018</span>
  </h4>
    <ul>
      <li>Coordinated a team of international developers in an agile workflow</li>
      <li>Technical specification, documentation and bug report with JIRA</li>
      <li>Took an active part in UI/UX discussions</li>
    </ul>
  <h4 class="text-right">Web Design (Apprenticeship)
    <span>September 2012 - November 2014</span>
  </h4>
    <ul>
      <li>Set up automatic image processing tasks</li>
      <li>Designed websites with Adobe Photoshop</li>
      <li>Extensive use of HTML, CSS and jQuery</li>
      <li>Implemented responsive frameworks into existing projects</li>
    </ul>
<div>
<h3>References</h3>
<div class="grid col_1_1_1">
    <p><a href="https://www.ronal-wheels.com/int/configurator" target="_blank">Ronal Wheels Configurator</a></p>
    <p><a href="http://www.cheetahwheels.de/konfigurator/#71964066!115BB18" target="_blank">Cheetah Wheels Configurator</a></p>
    <p></p>
</div>
