<h3>History</h3>
<div class="line"></div>
<p>
  My experience comes from working with bmf GmbH, a german company providing e-commerce solutions and
  data services for medium-sized customers in the automotive sector.
  My responsibilities are focused on a highly configurable
  <a class="txtlink" target=_blank href="https://bmfgroup.de/3pc-demo/en_sets.html">vehicle configurator</a>
</p>
<div class="grid col_1_2">
  <dl>
     <dt>Frontend Development - UI/UX Design</dt>
     <dd>February 2018 - Now</dd>
  </dl>
  <ul>
    <li>Worked out new concepts to improve usability</li>
    <li>Created views with HTML, CSS, Javascript and KnockoutJS</li>
    <li>Increased front-end efficiency by code analysis and refactoring</li>
    <li>Participated in all stages of the product life cycle</li>
  </ul>
  <dl>
     <dt>Project Management</dt>
     <dd>November 2017 - January 2018</dd>
  </dl>
    <ul>
      <li>Coordinated a team of international developers in an agile workflow</li>
      <li>Technical specification, documentation and bug report with JIRA</li>
      <li>Took an active part in UI/UX discussions</li>
    </ul>
    <dl>
       <dt>Gone traveling</dt>
       <dd>November 2014 - October 2017</dd>
    </dl>
    <ul>
      <li>Lived in New Zealand, Sri Lanka and Australia</li>
      <li>Got addicted to surfing</li>
      <li>Fitted out several vans to live in it</li>
      <li>Worked in various industries and environments</li>
    </ul>
    <dl>
       <dt>Web Design (Apprenticeship)</dt>
       <dd>September 2012 - November 2014</dd>
    </dl>
    <ul>
      <li>Set up automatic image processing tasks</li>
      <li>Designed websites with Adobe Photoshop</li>
      <li>Extensive use of HTML, CSS and jQuery</li>
      <li>Implemented responsive frameworks into existing projects</li>
    </ul>
<div>
