
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Hire me :)</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw==" crossorigin="anonymous"></script>
    <link rel="stylesheet/less" type="text/css" href="/normalize.css" />
    <link rel="stylesheet/less" type="text/css" href="/style.less" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
</head>
<body>
  <div class="wrapper">
    <header>
  		<h1>
  		  Hi Magicseaweed! I'm Lena.
  		</h1>
    </header>
    <section class="intro">
  		<img src="img.png" />
  		<h2>Frontend Developer - UI/UX Designer</h2>
  		<div class="line"></div>
  		<p>
        I have used Magicseaweed and it’s features for many years. <br />
        The ability to write efficient code,<br />
        surf related knowledge and an immense motivation <br />
        makes me uniquely qualified to be a part of your team.
      </p>
      <p>
        This is a forecast of my favourite wave.<br />
        Implemented by me, powered by you.
      </p>
      <div class="forecast">
  		  <%- include('forecast'); -%>
      </div>
    </section>
    <div class="space"></div>
    <section class="profile bg">
  		<%- include('profile'); -%>
    </section>
    <section class="career">
      <%- include('career'); -%>
    </section>
    <div class="space"></div>
    <footer>
        <p class="text-light">
          I’m ready to make the move and working for Magicseaweed is the perfect opportunity <br/>
          to combine my career with private interest without compromises.
        <p/>
        <a href="Lena_Leitenstorfer.pdf"><span  class="fas fa-download"></span>Download resume<a/>
    </footer>
  </div>
</body>
