
<h3> Profile </h3>
<div class="line"></div>
<p>
  28 y/o - raised in Germany - based in England. <br />
  I have 3+ years of experience in designing and developing complex web applications.
</p>
<div class="grid col_1_1_1">
  <ul>
    <li><h6>Technologies</h6></li>
    <li>
      <span>JavaScript</span>
      <i class="far fa-circle"></i>
      <i class="fas fa-adjust"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
    </li>
    <li>
      <span>HTML5</span>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
    </li>
    <li>
      <span>CSS & LESS</span>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
    </li>
      <li>
        <span>jQuery</span>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
      </li>
      <li>
        <span>KnockoutJS</span>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
      </li>
      <li>
        <span>Node</span>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
      </li>
      <li>
        <span>MySQL</span>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
      </li>
  </ul>
  <ul>
    <li><h6>Skills</h6></li>
    <li>
      Source Code Management (Git)
    </li>
    <li>
     CSS frameworks (Bootstrap)
    </li>
    <li>
     Javascript frameworks (KnockoutJS, EJS)
    </li>
    <li>
      Developer tools
    </li>
    <li>
      Agile / Scrum (Jira)
    </li>
    <li>
      Website Design (Photoshop)
    </li>
  </ul>
  <ul>
    <li><h6>Hobbies</h6></li>
    <li>
      Surfing
    </li>
    <li>
      Photography
    </li>
    <li>
      Drawing
    </li>
    <li>
      Climbing
    </li>
  </ul>
</div>
