
<h3> Skills </h3>
<div class="line"></div>
<p>
  I have 3+ years of experience in designing and developing complex web applications.
</p>
<div class="skills grid col_1_2">
  <ul>
    <li>
      <span>JavaScript</span>
      <span class="level">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </li>
    <li>
      <span>HTML5</span>
      <span class="level">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </li>
    <li>
      <span>CSS & LESS</span>
      <span class="level">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </li>
    <li>
      <span>Bootstrap</span>
      <span class="level">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </li>
      <li>
        <span>jQuery</span>
        <span class="level">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </li>
      <li>
        <span>KnockoutJS</span>
        <span class="level">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </li>
      <li>
        <span>MySQL</span>
        <span class="level">
          <span></span>
          <span></span>
        </span>
      </li>
  </ul>
  <ul>
    <li>
      Source Code Management (GIT)
    </li>
    <li>
      Issue tracking (JIRA)
    </li>
    <li>
      Agile project management
    </li>
    <li>
      Website Design (Photoshop)
    </li>
  </ul>
</div>
